<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>TeamIdentifierPrefix</key>
        <string>$(TeamIdentifierPrefix)</string>
        <key>NSExtension</key>
        <dict>
            <key>NSExtensionAttributes</key>
            <dict>
                <key>NSExtensionActivationRule</key>
                <string>SUBQUERY(extensionItems, $item, SUBQUERY($item.attachments, $att, ((ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.data" AND NOT ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.folder" AND NOT ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.package") OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text")).@count >= 1).@count >= 1</string>
            </dict>
            <key>NSExtensionPointIdentifier</key>
            <string>com.apple.share-services</string>
            <key>NSExtensionPrincipalClass</key>
            <string>$(PRODUCT_MODULE_NAME).ShareExtensionController</string>
        </dict>
    </dict>
</plist>
